<div class="bg-emerald-100 rounded-md text-white text-center p-4">
    <h1 class="bg-emerald-600 font-bold p-2 rounded-t-md text-2xl">Income</h1>
    <div class="grid grid-cols-4 bg-emerald-600 p-2">
        <p class="font-bold">
            Amount
        </p>
        <p class="text-center font-bold col-span-3">
            Description
        </p>
    </div>

    <div class="text-emerald-700 my-4" *ngIf="incomes.length===0; else localTag">No Income Yet!</div>
    <ng-template #localTag>
        <app-expense-item
            *ngFor="let income of incomes"
            [item]="income"
            (expensesRemoved)="removeExpense($event)"
            (expensesUpdated)="updateExpense($event)"
        ></app-expense-item>
    </ng-template>
</div>